# SERVER VARIABLES
PORT=3000
NODE_ENV=development

# DATABASE VARIABLES
MONGODB_URI=your-mongodb-uri

# MONITOR VARIABLES
MAX_MONITORS_PER_INSTALLATION=25
DEFAULT_MAX_MONITORS = 25;
CHECK_INTERVAL_MS=60000
REFRESH_INTERVAL_MS = 60000

# CONTENT VARIABLES
MAX_STORED_CONTENT_LENGTH = 100_000
DEFAULT_PREVIEW_WORDS = 60
DEFAULT_CONTEXT_WORDS = 8
